apiVersion: kustomize.config.k8s.io/v1
kind: Kustomization
metadata:
    name: bot-app
    namespace: flux-system
spec:
    interval: 10m0s
    path: ./deployment/clusters/hetzner-bot/infrastructure/apps/bot-app
    prune: true
    wait: true
    sourceRef:
        kind: GitRepository
        name: flux-system
    decryption:
        provider: sops
        secretRef:
            name: sops-age
